/*--------------------------------------------------------------
## Global Styling
--------------------------------------------------------------*/

a {
	color: inherit;
}

.link {
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.overflow {
	overflow: hidden;
}

.z-2 {
	z-index: 2;
}

.text-white {
	color: #fff;
}
/* ------------ Grid Styles ------------ */

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 100px;
	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		row-gap: 20px;
	}
}

.col-span-2 {
	grid-column: 1 / 3;
	@media (max-width: 768px) {
		grid-column: 1 /1;
	}
}

/* ------------ Flex Styles ------------ */

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.flex-0 {
	flex: 0 0;
}

/* ------------ Margin Styles ------------ */

.m0 {
	margin: 0px;
}

.ma {
	margin: auto;
}

.mla {
	margin-left: auto;
}

.ml40 {
	margin-left: 40px;
}

.mra {
	margin-right: auto;
}

.mta {
	margin-top: auto;
}

.mtf {
	margin-top: 196px;
}

.mba {
	margin-bottom: auto;
}

.mbf {
	margin-bottom: 196px;
}

/* ------------ Padding Styles ------------ */

.p20 {
	padding: 20px;
}

.p30 {
	padding: 30px;
}

.p40 {
	padding: 40px;
}

/* ------------ BG Styles ------------ */

.pos-rel {
	position: relative;
}

.bg-black {
	background-color: rgba(0, 0, 0, 1);
}

.aspect-1-2 {
	aspect-ratio: 1 / 2;
}

.aspect-16-9 {
	aspect-ratio: 16 / 9;
}

.darken{
	filter: brightness(0.4);
}

/* ------------ Image Styles ------------ */

div.bg-image,
.bg-image {
	inset: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
}

/* ------------ Spacer Styles ------------ */

.spacer {
	height: 100px;
}

/* ------------ Ratio Styles ------------ */

.ratio-1-2 {
	width: 100%;
	padding-top: 120%;
}

.ratio-2-1 {
	width: 100%;
	padding-top: 60%;
}

/* ------------ Width Styles ------------ */

.w-50 {
	width: 50%;
}

.w-80 {
	width: 80%;
}

.w-100 {
	width: 100%;
}

.w-100vw {
	width: 100vw;
}

/* ------------ Height Styles ------------ */

.h-100 {
	height: 100%;
}

.h-100vh {
	height: 100vh;
}

.h-fit {
	height: fit-content;
}

/* ------------ Max Styles ------------ */

.max-600 {
	max-width: 600px;
}

.max-80 {
	max-width: 80%;
}

.max-1600 {
	max-width: 1600px;
}

.max-h-300 {
	max-height: 500px;
}

.max-h-900 {
	max-height: 900px;
}

.max-h-1-2 {
	max-height: 50%;
}

/* ------------ Mobile Styles ------------ */

.m-hide {
	@media (max-width: 768px) {
		display: none;
	}
}

.m-show {
	display: none;
	@media (max-width: 768px) {
		display: inherit;
	}
}

.m-wrap {
	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
}

.m-100 {
	@media (max-width: 768px) {
		width: 100%;
	}
}


.m-my80 {
	@media (max-width: 768px) {
		margin-block: 80px;
	}
}

.m-mt80 {
	@media (max-width: 768px) {
		margin-top: 80px;
	}
}

.m-mb80 {
	@media (max-width: 768px) {
		margin-bottom: 80px;
	}
}
